---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
      <div>
        <strong>Filter by Type</strong>
        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes()">
            <select id="tag-selector" multiple>
              <option value="all">All</option>
              {% assign collection_posts = site.publications %}
              {% assign all_tags = "" %}
              {% for post in collection_posts %}
                {% assign post_tags = post.tags | join: ',' | append: ',' %}
                {% assign all_tags = all_tags | append: post_tags %}
              {% endfor %}
              {% assign unique_tags = all_tags | split: ',' | uniq %}

              {% for tag in unique_tags %}
                <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes" class="checkboxes">
            {% for tag in unique_tags %}
              <label for="{{ tag }}">
                <input type="checkbox" id="{{ tag }}" class="tag-checkbox" onchange="filterPosts()">
                {{ tag }}
              </label>
            {% endfor %}
          </div>
        </div>
      </div>
      <div>
        <strong>Sort by:</strong>
        <select id="sort-selector">
          <option value="new-to-old">Newest to Oldest</option>
          <option value="old-to-new">Oldest to Newest</option>
        </select>
      </div>
      <div id="posts-container">
        {% for post in site.publications reversed %}
            <div class="post" data-date="{{ post.date | date: '%s' }}" data-tags="{{ post.tags | join: ',' }}">
                {% include archive-single.html %}
            </div>
        {% endfor %}
      </div>
    {% endunless %}
  </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
      function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!checkboxes.style.display || checkboxes.style.display === "none") {
          checkboxes.style.display = "block";
        } else {
          checkboxes.style.display = "none";
        }
      }  
      // Function to filter posts by selected tags
        function filterPostsByTag(tag) {
          const checkboxes = document.querySelectorAll('.tag-checkbox');
          const selectedTags = Array.from(checkboxes)

          .filter(checkbox => checkbox.checked)
          .map(checkbox => checkbox.id);
          
          const posts = Array.from(document.querySelectorAll('.post'));
          
          posts.forEach(post => {
            const postTags = post.getAttribute('data-tags').split(',');
            if (selectedTags.length === 0 || selectedTags.some(tag => postTags.includes(tag))) {
              post.style.display = 'block';
            } else {
              post.style.display = 'none';
            }
          });
        }

        // Function to sort posts by date
        function sortPostsByDate(option) {
            const postsContainer = document.getElementById('posts-container');
            const posts = Array.from(postsContainer.children);
            
            posts.sort(function (a, b) {
                const dateA = parseInt(a.getAttribute('data-date'));
                const dateB = parseInt(b.getAttribute('data-date'));
                
                if (option === 'new-to-old') {
                    return dateB - dateA;
                } else if (option === 'old-to-new') {
                    return dateA - dateB;
                }
                
                // Add more sorting options as needed
                
                return 0;
            });
            
            posts.forEach(post => {
                postsContainer.appendChild(post);
            });
        }

        // Event listener for tag filter
        const tagButtons = document.querySelectorAll('.tag-button');
        tagButtons.forEach(button => {
            button.addEventListener('click', function () {
                const selectedTag = this.getAttribute('data-tag');
                filterPostsByTag(selectedTag);
            });
        });
        
        // Event listener for date sorting
        const sortSelector = document.getElementById('sort-selector');
        sortSelector.addEventListener('change', function () {
            const selectedOption = sortSelector.value;
            sortPostsByDate(selectedOption);
        });

        });
</script>